<div appCentralizar>
  <h5>Diretiva: ng-class</h5>
  <p>Class binding classico</p>
  <!--class binding classico-->
  <i class="glyphicon glyphicon-minus"
  [class.glyphicon-star-empty]="!click"
  [class.glyphicon-star]="click"
  (click)="mudaClick()"
  ></i>
</div>

<div appCentralizar>
  <h5>Diretiva: ng-class</h5>
  <!--diretiva ngclass-->
  <i *ngFor="let estrela of countEstrelas, let i = index"
  class="glyphicon"
  [ngClass]="{
    'glyphicon-star-empty': clickado[i] === false,
    'glyphicon-star': clickado[i] === true
  }"
  (click)="clickEstrela(estrela, i)"> <- {{estrela}}  </i>
  <br/>
  <button (click)="reset()">zerar</button>
</div>
